.main {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  border-bottom: 2px solid white;
  padding-bottom: 4vh;
}

.imageContainer {
  width: 30vw;
  display: flex;
  justify-content: flex-start;
}

.divMain {
  width: 45vw;
  display: flex;
  justify-content: center;
  gap: 2vh;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 700px) {
  .main {
    flex-direction: column-reverse;
    gap: 5vw;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .divMain {
    width: 90vw;
  }

  .info {
    width: 90vw;
  }

  .imageContainer {
    width: 90vw;
    justify-content: center;
  }
}
