.main {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  border-bottom: 2px solid white;
  padding-bottom: 4vh;
  margin-top: 2vh;
}

.imageContainer {
  width: 30vw;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  // object-fit: contain;
  // position: relative;
}

.pic {
  // max-width: 100%;
}

.divMain {
  width: 45vw;
  display: flex;
  justify-content: center;
  gap: 2vh;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.h2 {
  margin-top: 1vh;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column-reverse;
    gap: 5vw;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .divMain {
    width: 90vw;
  }

  .info {
    width: 90vw;
  }

  .imageContainer {
    width: 90vw;
    justify-content: center;
  }
}
