.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem 2vw;
  min-height: 100vh;
  background-color: var(--primary-background);
  gap: 5vh;
  margin-top: 3vh;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
