:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-background: #1d2d44;
  --primary-font: #f0ebd8;
  --secondary-background: #748cab;
  --bar-width: 25px;
  --bar-height: 3px;
  --hamburger-gap: 5px;
  --foreground: var(--primary-font);
  --background: var(--primary-background);
  --hamburger-margin: 3.5vh;
  --hamburger-margin-left: 90vw;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--primary-font);
  /* background-color: var(--primary-background); */
}
