:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --primary-background: #1d2d44;
  --primary-font: #f0ebd8;
  --secondary-background: #748cab;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--primary-font);
  /* background-color: var(--primary-background); */
}
