.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 6rem;
  min-height: 100vh;
  background-color: var(--primary-background);
  gap: 4vh;
}
