.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--primary-background);
  gap: 5vh;
}

.addContainer {
  border: 2px solid red;
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3vh 2vw;
  border-radius: 25px;
}

.h2 {
  font-size: 2.9vh;
  margin-bottom: 2vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 50vw;
  color: black;
}

.textArea {
  width: 35ch;
  height: 10ch;
  border-radius: 10px;
}

.input {
  color: black;
  padding: 1vh;
  border-radius: 7px;
  border: 2px solid var(--secondary-background);
  font-size: 16px;
}

.yearInput {
  width: 10ch;
  height: 2.5ch;
}

.textInput {
  width: 30ch;
  height: 2.5ch;
}

.btn {
  background-color: var(--secondary-background);
  min-width: 10vw;
  border-radius: 10px;
  border: 2px solid var(--primary-font);
  font-size: 2.5vh;
  padding: 1vh;
}

.btnContainer {
  // display: flex;
  // justify-content: center;
  margin-top: 5vh;
  // width: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
  // width: 100vw;
  margin-top: 2vh;
  text-align: center;
}

.signIn {
  color: red;
  width: 20vw;
  max-width: 150px;
  height: 5vh;
  border-radius: 20px;
  border: none;
  font-size: 2.3vh;
}

.signIn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--secondary-background);
  color: white;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  align-items: center;
}

.emailContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  justify-content: space-between;
  align-items: center;
}

.emailForm {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.showError {
  display: block;
  color: red;
  font-style: italic;
}

.none {
  visibility: hidden;
}

.disabledBtn {
  background-color: lightgray;
  min-width: 10vw;
  border-radius: 10px;
  border: 2px solid var(--primary-font);
  font-size: 2.5vh;
  padding: 1vh;
}

.select {
  position: absolute;
  right: 15vw;
  top: 10vh;
}

@media (max-width: 600px) {
  .form {
    width: 95vw;
  }

  .btn {
    width: 40vw;
  }

  .addContainer {
    border: none;
    width: 95vw;
    display: block;
    padding: none;
  }

  .signInContainer {
    gap: 5vh;
  }

  .signIn {
    width: 33vw;
    max-width: none;
  }
}
