.main {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--primary-background);
  gap: 4vh;
}

.treeMain {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

@media (max-width: 700px) {
  .main {
    padding: 12vh 0;
  }
}
